numpy<2.0
pandas
mrcfile
scikit-image
scipy
matplotlib
seaborn
pillow
plotly
streamlit
pyvis
gemmi
stqdm
PyMCubes
altair
morphosamplers
polars
starfile-rs
datashader
holoviews
bokeh
opencv-python-headless
biopython
