{{ define "main" }}

{{/* Display _index.md if available */}}
{{ if .Content }}
{{ partial "single" . }}
{{ end }}

<ul id="all-categories">
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">[{{ humanize $name }}]</a>
  {{ end }}
</ul>


{{/* List all pages */}}
<ul>
    {{ range .Paginator.Pages }}
    <li>
        <a href="{{ .RelPermalink }}">
            {{- .Title | markdownify }}
        </a>
        {{ partial "post_meta.html" . }}
    </li>
    {{ end }}
</ul>

{{/* Display paginator */}}
{{ template "_internal/pagination.html" . }}

{{ end }}