body {
    margin: 40px auto;
    max-width: 850px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

div.header h1 {
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 3px solid;
    border-bottom-color: #5335cf;
}

.header-menu {
    float: right;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul.pagination > li {
    padding: 0 8px;
    display: inline-block;
}

div.footer {
    border-top: 3px solid;
    text-align: center;
    border-top-color: #5335cf;
}

img {
    max-width: 75%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input, output {
    display: inline-block;
    vertical-align: middle;
}


.center {
    text-align: center;
}


/* tests */

/* unvisited link */
a:link {
    color: #5335cf;
    text-decoration: none;
    font-weight: bold;
     padding: 5px 5px;

}

/* visited link */
a:visited {
    color: #5335cf;
    font-weight: bold;

}

/* mouse over link */
a:hover {
    color: white;
    background: #5335cf;
    padding: 5px 5px;
    vertical-align: bottom;
    transition: color .5s ease-out;
    font-weight: bold;

}

/* selected link */
a:active {
    color: #de005e;
    font-weight: bold;

}


hr {
    height: 3px;
    background-color: #5335cf;
    border: none;
}

.arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 5px solid #5335cf;
  border-right: 5px solid #5335cf;
}
.arrow:hover{
    border-top: 5px solid white;
    border-right: 5px solid white;
}

.arrow-left {
  transform: rotate(-135deg);
}

@media(max-width:800px) {
 body {
  max-width:100%;
  line-height:1.6;
   margin:20px;
 line-height:1.6;
 font-size:15px;
 color:#444;
 padding:0 0px
 }
  div.header h1 {
 padding-top:0;
 padding-bottom:8px;
 margin-bottom:24px;
 font-size:12px;
 font-weight:400;
}
}
