:root {
  --primary-color: #5335cf;
  --secondary-color: #FFA500;
  --background-color: #f1f1f128;
  --text-color: #444;
  --font-stack: 'Press Start 2P', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --border-radius: 6px;
  --transition-time: 0.3s;
}

body {
  margin: 40px auto;
  max-width: 50%;
  line-height: 1.6;
  font-size: 12px;
  color: var(--text-color);
  padding: 0 10px;
  font-family: var(--font-stack);
  background-color: var(--background-color);
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 500;
}

div.header h1 {
  padding-top: 0;
  padding-bottom: 8px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 3px solid var(--primary-color);
}

.header-menu {
    float: right;
}

ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul.pagination > li {
    padding: 0 8px;
    display: inline-block;
}

div.footer {
    border-top: 3px solid var(--primary-color);
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input, output {
    display: inline-block;
    vertical-align: middle;
}

.center {
    text-align: center;
}

a:link,
a:visited {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-time), color var(--transition-time);
}

a:hover {
    color: white;
    background-color: var(--primary-color);
    padding: 5px 5px;
    vertical-align: bottom;
}

a:active {
    color: var(--secondary-color);
    font-weight: bold;
}

hr {
    height: 3px;
    background-color: var(--primary-color);
    border: none;
}

.arrow {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 5px solid var(--primary-color);
    border-right: 5px solid var(--primary-color);
    transition: border-top var(--transition-time), border-right var(--transition-time);
}

.arrow:hover {
    border-top: 5px solid white;
    border-right: 5px solid white;
}

.arrow-left {
    transform: rotate(-135deg);
}

@media (max-width: 800px) {
    body {
        max-width: 100%;
        line-height: 1.6;
        margin: 20px;
        line-height: 1.6;
        font-size: 15px;
        color: var(--text-color);
        padding: 0 0px;
    }
    div.header h1 {
        padding-top: 0;
        padding-bottom: 8px;
        margin-bottom: 24px;
        font-size: 12px;
        font-weight: 400;
        }
        }
pre {
        font-size: 14px; /* Change this value to your desired font size */
    }
pre code {
     white-space: pre-wrap; /* Enable wrapping */
     word-break: break-word;
     word-wrap: break-word;
     overflow-wrap: break-word;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }

  {{ if $showAlt }}
    .lightbox-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      padding: 5px;
      font-size: 12px;
    }
  {{ end }}

  .lightbox-img-container {
    position: relative;
    max-width: calc(100% - 150px);
    max-height: calc(100% - 150px);
  }

  .lightbox-img-container img {
    max-width: 100%;
    display: block;
    margin: auto;

    /* Add conditional check to rescale images that are larger than the screen */
    max-height: calc(100vh - 150px);
  }

  .lightbox-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .show-close-button .lightbox-close-button {
    opacity: 1;
  }
  
  .lightbox-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
  }


  .lightbox-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: #ffffff;
      font-size: 2em;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s;
      padding: 0.5vw;
      border-radius: 8px;
      height: 80%;
    }

    .lightbox-button:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.3);
    }

    .lightbox-button-left {
      left: 0px;
    }

    .lightbox-button-right {
      right: 0px;
    }