<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>
        {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>

    {{ $theme_style := .Site.Params.theme_style }}
    
    <style>
        {{ if eq $theme_style "modern" }}
            {{ $styles := resources.Get "css/style.css" | minify -}}
            {{- $styles.Content | safeCSS -}}
        {{ else }}
            {{ $styles := resources.Get "css/style_retro.css" | minify -}}
            {{- $styles.Content | safeCSS -}}
        {{ end }}
    </style>

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head_custom" . }}
</head>