<h2>Project Library</h2>
{{ $path := "content" }}
{{ $projectFile := "projects.txt" }}
{{ $projectFilePath := path.Join $path $projectFile }}
{{ $folders := where (readDir $path) "IsDir" true }}


{{ with readFile $projectFilePath }}
  {{ $trimmedContent := trim . "\n" }}
  {{ $projects := split $trimmedContent "\n" }}
  {{ $sortedProjects := sort $projects }}
  {{ $folderCount := len $folders }}
  {{ $reversedIndexSeq := seq (sub $folderCount 1) -1 0 }}

  <ul class="custom-list">
    {{ range $index := $reversedIndexSeq }}
        {{ $folder := index $folders $index }}
        <li><a href="{{ $folder.Name | urlize }}">{{ $folder.Name }}</a>
          <span style="font-size: 80%;">&#x5b; <br> Project path: {{ index $sortedProjects $index }} &#x5d;</span>
        </li>
        <br>
      {{ end }}
  </ul>
{{ end }}