<!-- Folder location -->
{{ $folder := .Get "folder" | default "images/" }}
{{ $randomize := .Get "randomize" | default false}}
{{ $imageFiles := .Page.Resources.Match (printf "%s*" $folder) }}
{{ $uniqueID := .Get "uniqueID" | default "1"}}

<!-- scale of the lighbox image -->
{{ $scale := .Get "scale" | default "100%" }}
<!-- number of columns in the >1000px mode -->
{{ $columns := .Get "columns" | default "1" }}
<!-- Gallery gap px -->
{{ $gap := .Get "gap" | default "10" }}

<!-- Text in the lightbox, either index on a piture or fetched from long_list [Name1, Name2, Exif1, Exif2] -->
{{ $showAlt := .Get "showAlt" | default false }}

{{ $usefile := .Get "useFile" | default false }}
{{ $wordList := slice }}

{{ if $usefile }}
  {{ $filename := .Get "filename" }}
  {{ $content := os.ReadFile $filename }}

  {{ $longList := $content | replaceRE "\\[|\\]|'|" "" }}
  {{ $wordList = split $longList "," }}
  {{- printf "%s" $wordList -}}

{{ else }}
  {{ $longList := .Get "long_list" | default "Image 1, Image 2, Image 3, Image 4, Image 5"}}
  {{ $wordList = split $longList "," }}
{{ end }}



<!-- Create gallery -->
<ul class="gallery_new" data-gallery-id="{{ $uniqueID }}" data-show-alt="{{ $showAlt }}">
  {{if $randomize }}
    {{ range $index, $image := $imageFiles | shuffle}}
    <li class="gallery-item">
      <img src="{{ $image.RelPermalink }}" alt="{{ if lt $index (len $wordList) }}
      {{ index $wordList $index }}{{ else }}Image {{ add $index 1 }}{{ end }}"
      class='clickable-image' data-gallery-id="{{ $uniqueID }}"
      loading="{{ if gt $index 5 }}lazy{{ else }}eager{{ end }}" data-show-alt="{{ $showAlt }}" />
    </li>
  {{ end }}

    {{else}}
      {{ range $index, $image := $imageFiles }}
      <li class="gallery-item">
        <img src="{{ $image.RelPermalink }}" alt="{{ if lt $index (len $wordList) }}{{ index $wordList $index }}{{ else }}Image {{ add $index 1 }}{{ end }}"
        class='clickable-image' data-gallery-id="{{ $uniqueID }}" loading="{{ if gt $index 5 }}lazy{{ else }}eager{{ end }}" />
      </li>
    {{ end }}
  {{end}}
</ul>

<style>
  .gallery_new {
    column-count: 1;
    column-gap: {{ $gap }}px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .gallery-item {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding-bottom: {{ $gap }}px;
    break-inside: avoid;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }


  @media (min-width: 1000px) {
      .gallery_new {
        column-count: {{ $columns }};
      }
    }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }

  {{ if $showAlt }}
    .lightbox-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      padding: 5px;
      font-size: 12px;
    }
  {{ end }}

  .lightbox-img-container {
    position: relative;
    max-width: calc(100% - 150px);
    max-height: calc(100% - 150px);
  }

  .lightbox-img-container img {
    max-width: 100%;
    display: block;
    margin: auto;

    /* Add conditional check to rescale images that are larger than the screen */
    max-height: calc(100vh - 150px);
  }

  .lightbox-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .show-close-button .lightbox-close-button {
    opacity: 1;
  }
  .lightbox-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
  }


  .lightbox-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: #ffffff;
      font-size: 2em;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s;
      padding: 0.5vw;
      border-radius: 8px;
      height: 80%;
    }

    .lightbox-button:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.3);
    }

    .lightbox-button-left {
      left: 0px;
    }

    .lightbox-button-right {
      right: 0px;
    }

</style>



<script>
  function initGallery(gallery) {
    gallery.addEventListener('click', function (event) {
      if (event.target.classList.contains('clickable-image')) {
        const clickedImage = event.target;
        const showAlt = {{ $showAlt }};
        const images = document.querySelectorAll('img');

        const image = event.target;
        if (window.innerWidth >= 1000) {
          // create a new element to act as the lightbox popup
          const lightbox = document.createElement('div');
          lightbox.classList.add('lightbox');

          // create an element to hold the image in the lightbox
          const imgContainer = document.createElement('div');
          imgContainer.classList.add('lightbox-img-container');

          // create a new image element inside the container
          const img = document.createElement('img');
          img.src = image.src;

          // Add alt text as a caption to the lightbox image
          const caption = document.createElement('div');
          caption.classList.add('lightbox-caption');
          caption.innerHTML = image.alt;

          // Add the image and caption to the lightbox container
          imgContainer.appendChild(img);

          if (showAlt) {
            imgContainer.appendChild(caption);
          }

          // Set the current index of the clicked image as a data attribute
          img.dataset.currentIndex = Array.from(images).indexOf(event.target);

          // add the scale parameter to the img element
          img.style.maxWidth = '{{ $scale }}';

          // create a close button element
          const closeButton = document.createElement('button');
          closeButton.innerHTML = 'X';
          closeButton.classList.add('lightbox-close-button');

          // Create navigation buttons
          const buttonLeft = document.createElement('button');
          buttonLeft.innerHTML = '‹';
          buttonLeft.classList.add('lightbox-button', 'lightbox-button-left');

          const buttonRight = document.createElement('button');
          buttonRight.innerHTML = '›';
          buttonRight.classList.add('lightbox-button', 'lightbox-button-right');

          // add the image and close button to the lightbox container
          imgContainer.appendChild(img);

          imgContainer.appendChild(closeButton);

          // Add navigation buttons to the imgContainer
          imgContainer.appendChild(buttonLeft);
          imgContainer.appendChild(buttonRight);

          lightbox.appendChild(imgContainer);

          // add the lightbox to the end of the body element
          document.body.appendChild(lightbox);

          // Create a function to update the image in the lightbox
          function updateImage(imgIndex) {
            if (imgIndex >= 0 && imgIndex < images.length) {
              img.src = images[imgIndex].src;
              img.alt = images[imgIndex].alt; // Update the alt text
              img.dataset.currentIndex = imgIndex;
              caption.innerHTML = images[imgIndex].alt; // Update the caption text
            }
          }

          // Add click event listener for the imgContainer inside the lightbox
          imgContainer.addEventListener('click', function(event) {
            if (event.target === img) {
              const currentIndex = parseInt(img.dataset.currentIndex, 10);
              const imgRect = img.getBoundingClientRect();
              const isClickedOnLeftSide = event.clientX < imgRect.left + (imgRect.width / 2);
              let newIndex;

              if (isClickedOnLeftSide) {
                newIndex = (currentIndex - 1 + images.length) % images.length;
              } else {
                newIndex = (currentIndex + 1) % images.length;
              }

              updateImage(newIndex);
            }
          });

          // Add click event listeners for the navigation buttons
          buttonLeft.addEventListener('click', function(event) {
            event.stopPropagation();
            const currentIndex = parseInt(img.dataset.currentIndex, 10);
            const newIndex = (currentIndex - 1 + images.length) % images.length;
            updateImage(newIndex);
            });
          buttonRight.addEventListener('click', function(event) {
            event.stopPropagation();
            const currentIndex = parseInt(img.dataset.currentIndex, 10);
            const newIndex = (currentIndex + 1) % images.length;
            updateImage(newIndex);
          });

          // listen for click event on the close button to remove the lightbox
          closeButton.addEventListener('click', function() {
            document.body.removeChild(lightbox);
          });

          // listen for click event outside of image to remove the lightbox
          lightbox.addEventListener('click', function(event) {
            if (event.target === this) {
              document.body.removeChild(lightbox);
            }
          });

          // Add an event listener for mousemove on the lightbox container
          lightbox.addEventListener('mousemove', function(event) {
            const closeButtonRect = closeButton.getBoundingClientRect();
            const buffer = 50;
            const isMouseNearCloseButton =
                    event.clientX >= (closeButtonRect.left - buffer) &&
                    event.clientX <= (closeButtonRect.right + buffer) &&
                    event.clientY >= (closeButtonRect.top - buffer) &&
                    event.clientY <= (closeButtonRect.bottom + buffer);

            if (isMouseNearCloseButton) {
              imgContainer.classList.add('show-close-button');
            } else {
              imgContainer.classList.remove('show-close-button');
            }
          });

          lightbox.addEventListener('mousemove', function(event) {
            const buttonRectLeft = buttonLeft.getBoundingClientRect();
            const buttonRectRight = buttonRight.getBoundingClientRect();
            const distanceLeft = Math.hypot(
                    event.clientX - (buttonRectLeft.left + buttonRectLeft.width / 2),
                    event.clientY - (buttonRectLeft.top + buttonRectLeft.height / 2)
            );
            const distanceRight = Math.hypot(
                    event.clientX - (buttonRectRight.left + buttonRectRight.width / 2),
                    event.clientY - (buttonRectRight.top + buttonRectRight.height / 2)
            );

            const maxDistance = 100;
            buttonLeft.style.opacity = Math.max(0, 1 - distanceLeft / maxDistance);
            buttonRight.style.opacity = Math.max(0, 1 - distanceRight / maxDistance);
          });
        }
      }
    });
  }
document.querySelectorAll('.gallery_new').forEach(initGallery);
</script>